body {
	font-family: Helvetica;
	color: black;
	background-color: #f6e400;
}
#p404 {
	background-color: #ffff88;
	margin: 0px 200px 0px; 
}

#navbar{
	text-shadow: 3px 3px #8888ff;
	
}


em {
	background: yellow;
	color: black;
}

h1 {
	text-shadow: 1px 1px white;
}

h1, h2, h3 {
	margin: 0px auto 0px;
}

h3{
	margin-left: 10px;
	padding-left:100px;
}

p {
	padding-left:50px;
	font-family: courier, monospace;
}

#centered {
	text-align: center;
}


ol{
	width: 730px;
	color: white;
	margin-left: 50px;
	background-color: black;
}

.sidebar {
	font-size: 9px;
	color: #ffff77;
	background-color: #888888;
	text-align: center;
}


