section.container {
	min-height: 999px;
	background-color: #222;
	border: clear solid 6px;
	border-radius: 0px;
}


section.container article  {
	background-image: url("/home/atom_box/Dropbox/code/coursera_jhu/homework/week3/module3_solution/images/rice2.png");
	background-repeat: repeat;
	border-radius: 10px;


}

div.container-fluid div.navbar-header button + a,

{
	font-family: "Zilla Slab", monospace;
}


section.container > p, 
section.container > article > h2 {
	font-family: 'Zilla Slab', Arial, sans-serif;

}

button + a.navbar-brand  {
	font-weight: bold;
	font-size: 3em;
}
section > p {   /*  Our Menu BUT the line has SECTION*/
	font-size: 2em;
	font-weight: bold;
}

section.container article {

}

section article {
	font-family: Helvetica, Arial, sans-serif;
}


ul li a {
	background-color: black;
	border: 2px solid red;
	color: yellow; /*all works except for font color*/
	background-repeat: repeat;

}

.one.two {
	background-color: yellow;
	text-align: center;
}  /* WORKED ! */

body {
	font-family: Helvetica, sans-serif;
	color: white;
	background-color: #600;

}
#business_name{
	background-color: #999999;
	font-family: 'Zilla Slab', serif;
	color: black;
}


/*OVERRIDING SOME BOOTSTRAP STYLES HERE*/
/*It is such a relief to realize I can merely repeat the name of 
the item I wish to un-default */
a.navbar  {
	border-radius: 0px;
	background-color: green;

}
.navbar-default {
	border-radius: 0px;
	background-color: #222;
	border: 0px; /* Yay!  That border finally disappeared.*/
.navbar-brand {
	color: white;
}
}
