
.one.two {
	background-color: yellow;
	text-align: center;
}  /* WORKED ! */

body {
	font-family: Helvetica, sans-serif;
	color: white;
	background-color: #400;
}
#business_name{
	background-color: #999999;
	font-family: 'Zilla Slab', serif;
	color: black;
}


/*OVERRIDING SOME BOOTSTRAP STYLES HERE*/
/*It is such a relief to realize I can merely repeat the name of 
the item I wish to un-default */
a.navbar  {
	border-radius: 0px;
	background-color: blue;
	color: white;
}
.navbar-default {
	border-radius: 0px;
	background-color: navy;
	border: 0px; /* Yay!  That border finally disappeared.*/
.navbar-brand {
	color: white;
}
}
/*header {
	background-color: blue; 
}
nav #over {
	border-radius: 10px;
	background-color: gold;
}

#centered {
	text-align: center;
}
*/
.reviled {
	background-color: #004444;
}
